<footer>
    <section id="footer">
        <div id="map">
        </div>
        <div id="info">
            <p>Grupo Media</p>
            <p>Sobre nós</p>
            <p>Ajuda</p>
            <p>Fale Conosco</p>
            <p style="margin-bottom: 5px;">NOSSSAS REDES SOCIAIS</p>
            <div id="midias">
                <div id="insta"></div>
                <div id="fb"></div>
                <div id="wpp"></div>
            </div>
        </div>
    </section>
  </footer>