<header id="header">
    <a id="logo" aria-expanded="false" href="http://localhost:8078/">Logo</a>
    <nav id="nav">
        <button id="btn-mobile">menu
            <span id="hamburger"></span>
        </button>
        <ul id="menu">
            <li><a id="cd" href="/">Sobre</a></li>
            <li><a id="cd"href="/">Produltos</a></li>
            <li><a id="cd"href="http://localhost:8078/usuario/login">Login</a></li>
            <li><a id="cd"href="/">contado</a></li>
        </ul>
    </nav>
</header>
<script >const btnmobile =document.getElementById('btn-mobile');
        
    function toggleMenu(event)
    {
        if(event.type=== 'touchstart')event.preventDefault();
    
        const nav =document.getElementById('nav');
        nav.classList.toggle('active');
        const active =nav.classList.contains('active');
        event.currentTarget.setAttribute('aria-expanded', active)
    }
    
    
    btnmobile.addEventListener('click', toggleMenu);
    btnmobile.addEventListener('touchstart', toggleMenu);
    
    </script>