<section class="produtos" >

    <div class="produtoA">
        <img src="https://t.ctcdn.com.br/vI5WYE6dowZhBxtnONeaZ4cXlXM=/512x288/smart/i523997.jpeg" alt="">
        <h2>Poco 7 Pro</h2>
        <h4>R$2.000</h4>
        <p><b>Descrição:</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, et suscipit voluptas rerum fuga ius</p>
       <a href="http://localhost:8078/produto/produtoa"><button > VER MAIS</button></a>
       </div>
   <!--produtoB-->
   <div class="produtoB">
           <img src="https://t.ctcdn.com.br/vI5WYE6dowZhBxtnONeaZ4cXlXM=/512x288/smart/i523997.jpeg" alt="">
           <h2>Poco 7 Pro</h2>
           <h4>R$2.000</h4>
           <p><b>Descrição:</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, et suscipit voluptas rerum fuga ius</p>
          <button>VER MAIS</button>
          </div>
           <!--produtoC--> 
       <div class="produtoB">
           <img src="https://t.ctcdn.com.br/vI5WYE6dowZhBxtnONeaZ4cXlXM=/512x288/smart/i523997.jpeg" alt="">
           <h2>Poco 7 Pro</h2>
           <h4>R$2.000</h4>
           <p><b>Descrição:</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, et suscipit voluptas rerum fuga ius</p>
          <button>VER MAIS</button>
       </div>
           <!--produtoD-->
          <div class="produtoB">
           <img src="https://t.ctcdn.com.br/vI5WYE6dowZhBxtnONeaZ4cXlXM=/512x288/smart/i523997.jpeg" alt="">
           <h2>Poco 7 Pro</h2>
           <h4>R$2.000</h4>
           <p><b>Descrição:</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, et suscipit voluptas rerum fuga ius</p>
          <button  >VER MAIS</button>
          </div>

          <div class="produtoB">
           <img src="https://t.ctcdn.com.br/vI5WYE6dowZhBxtnONeaZ4cXlXM=/512x288/smart/i523997.jpeg" alt="">
           <h2>Poco 7 Pro</h2>
           <h4>R$2.000</h4>
           <p><b>Descrição:</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, et suscipit voluptas rerum fuga ius</p>
          <button>VER MAIS</button>
          </div>
          
          <div class="produtoB">
           <img src="https://t.ctcdn.com.br/vI5WYE6dowZhBxtnONeaZ4cXlXM=/512x288/smart/i523997.jpeg" alt="">
           <h2>Poco 7 Pro</h2>
           <h4>R$2.000</h4>
           <p><b>Descrição:</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, et suscipit voluptas rerum fuga ius</p>
          <button>VER MAIS</button>
          </div>

          <div class="produtoB">
           <img src="https://t.ctcdn.com.br/vI5WYE6dowZhBxtnONeaZ4cXlXM=/512x288/smart/i523997.jpeg" alt="">
           <h2>Poco 7 Pro</h2>
           <h4>R$2.000</h4>
           <p><b>Descrição:</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, et suscipit voluptas rerum fuga ius</p>
          <button>VER MAIS</button>
          </div>

          <div class="produtoB">
           <img src="https://t.ctcdn.com.br/vI5WYE6dowZhBxtnONeaZ4cXlXM=/512x288/smart/i523997.jpeg" alt="">
           <h2>Poco 7 Pro</h2>
           <h4>R$2.000</h4>
           <p><b>Descrição:</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, et suscipit voluptas rerum fuga ius</p>
          <button>VER MAIS</button>
          </div>
</section>