body,ul
{
    margin: 0px;
    padding: 0px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover
{
    background:#f15;
}
#logo
{
    font-size: 1.5rem;
font-weight: bold;
}
#header
{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f15;
}
#menu
{
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a
{
    display: block;
    padding: .5rem;

}
#btn-mobile{
    display: none;
}

@media (max-width:600px)
{
    #btn-mobile
    {
        display: block;
    }
    #menu
    {
        display: block;
        
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        height: 0px;
        transition: .6s;
        z-index: 1000px;
        visibility: hidden;
        overflow-y: hidden;

    } 
    #nav.active #menu
    {
        
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a 
    {
        padding: 1rem 0;
        margin:0 1rem;
        border-bottom: 2px solid rgba(0, 0,0, .05);
    }  
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger
    {
        display: block;
      width: 20px;
      border-top:2px solid ;
    }
    #hamburger::after , #hamburger::before
    {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background:currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger
    {
       border-top-color: transparent;
    }
    #nav.active #hamburger::before
    {
       transform: rotate(135deg);
    }
    #nav.active #hamburger::after
    {
        transform: rotate(-135deg);
        top: -7px;

    }


}