@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body
{     
    margin: 0;  
    padding: 0;
    box-sizing: border-box;                                                                                                
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: #fff;
   background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
   background-size: cover;
}


body,ul
{
    margin: 0px;
    padding: 0px;
}
a{
    color: black;
    text-decoration: none;
}

#logo
{
    font-size: 1.5rem;
font-weight: bold;
}
#header
{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 5px;
}
#header a{
    color: black;
    text-decoration: none;
    transition: 0.8s;

}
#header a:hover{
    background:#f15;
    border-radius: 50px;

}
#menu
{
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a
{
    display: block;
    padding: .5rem;

}
#btn-mobile{
    display: none;
}



.produto{
    z-index: 0px;
 display: flex;
 /*background: #f15;*/
}


#carouselExampleFade{
    position: relative;
    margin-left: 5%;
    margin-top: 10ch;
    width: 50ch;
    height: 50ch;
}

#carouselExampleFade img{
    width: 40ch;
    height: 40ch;
    
}
.infoma{
    text-align: justify;
    margin-left: 1ch;
    margin-top: 10ch;
    position: relative;
    width: 30ch;
    height: 40ch;

}
.pagamento{
    margin-left: 4ch;
    margin-top: 10ch;
    position: relative;
    width: 30ch;
    height: 40ch;
    list-style: none;

}
.pagamento ul {
    list-style: none;

}
.carrinho button{
    background: #d75413;
    color: #fff;
    border-radius: 20px;
    border: none;
    
    height: 5ch;
    width: 20ch;
    animation: boto 1.5s infinite;
    animation-direction: alternate-reverse;
}
/*------------roda pe------------------------------------*/
footer{
    background-color: #fff;
    color: #001;
    height: 40vh;
}
#footer{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    box-sizing: border-box;
    color: #001;
}
#map{
    margin-left: 5vw;
    margin-top: 5vh;
    width: 35vw;
    height: 30vh;
    background-image: url("../img/map.png");
    background-color: thistle;
    border: solid 5px rgb(78, 10, 141);
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#info{
    margin-right: 5vw;
    margin-top: 5vh;
    width: 25vw;
   
    text-align: justify;
}
#midias{
    width: 100%;
    display: inline-flex;
}
#insta{
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    background-image: url(../img/instagra.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#fb{
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    background-image: url(../img/facebok.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#wpp{
    width: 2vw;
    height: 2vw;
    background-image: url("https://w7.pngwing.com/pngs/539/314/png-transparent-chat-communication-interaction-media-sosial-whatsapp-social-network-icon-thumbnail.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes boto{
    0%{
         transform: translateX(2ch);
         transform: translateY(2ch);
        height: 5ch;
        width: 20ch;
        top: 2ch;
        
    }
   100%{
    transform: translateX(3ch);
    
       height: 7ch;
       width: 23ch;
       top: 4ch;
   } 
}
@media(max-width:1000px){
    
    


    #btn-mobile
    {
        display: block;
    }
    #menu
    {
        display: block;
        
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        height: 0px;
        transition: .6s;
        z-index: 1000px;
        visibility: hidden;
        overflow-y: hidden;

    } 
    #nav.active #menu
    { 
        
        
        height: auto /*calc(100vh - 70px)*/;
        visibility: visible;
        overflow-y: auto;
        background: #fff;
        z-index: 100;
        height: 100%;
    }
    #menu a 
    {
        padding: 1rem 0;
        margin:0 1rem;
        border-bottom: 2px solid rgba(0, 0,0, .05);
    }  
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger
    {
        display: block;
      width: 20px;
      border-top:2px solid ;
    }
    #hamburger::after , #hamburger::before
    {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background:currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger
    {
       border-top-color: transparent;
    }
    #nav.active #hamburger::before
    {
       transform: rotate(135deg);
    }
    #nav.active #hamburger::after
    {
        transform: rotate(-135deg);
        top: -7px;

    }

    
    .produto{
        display: block;
       }
       
       
       #carouselExampleFade{
           position: relative;
           margin-left: 1%;
           margin-top: 10ch;
           width: 35ch;
           height: 35ch;
           top: 5ch;
       }
       
       #carouselExampleFade img{
           width: 35ch;
           height: 35ch;  
       }
       .pagamento{
        margin-left: 1ch;
        top: -20ch;
        position: relative;
        width: 30ch;
        height: 40ch;
        list-style: none;
    
    }

    .infoma h1{
    position: relative;
    top: -15ch;
    font-size: 40px;
    }
    .infoma{
        
        top: -10ch;
    }
     
    .pagamento{
        top: -30ch;
    }
    .carrinho button{
        margin-left: 5ch;
    }


    footer{
        
        height: 80vh;
    }
    #footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 70px;
        box-sizing: border-box;
    }
    #map{
        margin-left: 5vw;
        margin-top: 5vh;
        width: 90vw;
        height: 30vh;
        background-image: url("../img/map.png");
        background-color: thistle;
        border: solid 5px rgb(78, 10, 141);
        border-radius: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    #info{
        margin-left: 5vw;
        margin-top: 5vh;
        width: 90vw;
        text-align: justify;
    }
    #midias{
        width: 100%;
        display: inline-flex;
    }
    #insta{
        width: 8vw;
        height: 8vw;
        margin-right: 1vw;
    }
    #fb{
        width: 8vw;
        height: 8vw;
        margin-right: 1vw;
       
    }
    #wpp{
        width: 8vw;
        height: 8vw;
        
    }



}
